# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
.coverage
coverage.xml
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# VS Code
.vscode/

# OS
.DS_Store
